<a href="https://colab.research.google.com/github/JohnSRX/Machine-Learning-Portfolio/blob/Text-Mining-and-NLP/Sentiment_Analysis_and_Wordcloud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sentiment Analysis

In [ ]:
!pip install Textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Textblob in /usr/local/lib/python3.8/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.8/dist-packages (from Textblob) (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->Textblob) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->Textblob) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->Textblob) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->Textblob) (4.64.1)

In [ ]:
!pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.0/126.0 KB 1.5 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from vaderSentiment) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->vaderSentiment) (2.10)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser=SentimentIntensityAnalyzer()

In [ ]:
def sentiment_analyzer_scores(sentence):
  score=analyser.polarity_scores(sentence)
  print("{:-<40}{}".format(sentence,str(score)))

print(sentiment_analyzer_scores("There is no milk!"))

There is no milk!-----------------------{'neg': 0.454, 'neu': 0.546, 'pos': 0.0, 'compound': -0.3595}
None

In [ ]:
print(sentiment_analyzer_scores("There is no milk"))
print(sentiment_analyzer_scores("There is no milk!"))
print(sentiment_analyzer_scores("There is no milk!!"))
print(sentiment_analyzer_scores("There is no milk!!!"))

There is no milk------------------------{'neg': 0.423, 'neu': 0.577, 'pos': 0.0, 'compound': -0.296}
None
There is no milk!-----------------------{'neg': 0.454, 'neu': 0.546, 'pos': 0.0, 'compound': -0.3595}
None
There is no milk!!----------------------{'neg': 0.481, 'neu': 0.519, 'pos': 0.0, 'compound': -0.4184}
None
There is no milk!!!---------------------{'neg': 0.506, 'neu': 0.494, 'pos': 0.0, 'compound': -0.4724}
None

In [ ]:
print(sentiment_analyzer_scores("There is no milk!"))
print(sentiment_analyzer_scores("There is no more milk!"))
print(sentiment_analyzer_scores("There is no more milk in the container!"))

There is no milk!-----------------------{'neg': 0.454, 'neu': 0.546, 'pos': 0.0, 'compound': -0.3595}
None
There is no more milk!------------------{'neg': 0.384, 'neu': 0.616, 'pos': 0.0, 'compound': -0.3595}
None
There is no more milk in the container!-{'neg': 0.263, 'neu': 0.737, 'pos': 0.0, 'compound': -0.3595}
None

In [ ]:
 from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
 analyser=SentimentIntensityAnalyzer()

 def sentiment_analyzer_scores(sentence):
  score=analyser.polarity_scores(sentence)
  print("{:-<40}{}".format(sentence,str(score)))

print(sentiment_analyzer_scores("Being home is fun and all, but it doesnt beat hanging out with friends"))

Being home is fun and all, but it doesnt beat hanging out with friends{'neg': 0.0, 'neu': 0.656, 'pos': 0.344, 'compound': 0.743}
None

WordCloud

In [ ]:
!pip install wordcloud

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wordcloud in /usr/local/lib/python3.8/dist-packages (1.8.2.2)
Requirement already satisfied: pillow in /usr/local/lib/python3.8/dist-packages (from wordcloud) (7.1.2)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.8/dist-packages (from wordcloud) (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from wordcloud) (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->wordcloud) (1.15.0)

In [ ]:
from io import IncrementalNewlineDecoder
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv("/content/ElectricCarData_Clean.csv")

In [ ]:
df.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Volkswagen,ID.3 Pure,10.0,160,270,167,250,Yes,RWD,Type 2 CCS,Hatchback,C,5,30000
2,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
3,BMW,iX3,6.8,180,360,206,560,Yes,RWD,Type 2 CCS,SUV,D,5,68040
4,Honda,e,9.5,145,170,168,190,Yes,RWD,Type 2 CCS,Hatchback,B,4,32997

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    float64
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   103 non-null    object
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Segment          103 non-null    object
 12  Seats            103 non-null    int64
 13  PriceEuro        103 non-null    int64
dtypes: float64(1), int64(5), object(8)
memory usage: 11.4+ KB

In [ ]:
print("There are {} observation and {} features in this dataset. \n".format(df.shape[0],df.shape[1]))
print("There are {} different models in this dataset such as {}... \n".format(len(df.Model.unique()),
                                                                                  ", ".join(df.Model.unique()[0:5])))
print("There are {} body styles for these these models in this dataset such as {}... \n".format(len(df.BodyStyle.unique()),
                                                                                              ", ".join(df.BodyStyle.unique()[0:5])))

There are 103 observation and 14 features in this dataset.

There are 102 different models in this dataset such as Model 3 Long Range Dual Motor, ID.3 Pure, 2, iX3 , e ...

There are 9 body styles for these these models in this dataset such as Sedan, Hatchback, Liftback, SUV, Pickup...

In [ ]:
df[['Brand', 'Model', 'PriceEuro']].head()

         Brand                          Model  PriceEuro
0       Tesla   Model 3 Long Range Dual Motor      55480
1  Volkswagen                       ID.3 Pure      30000
2    Polestar                               2      56440
3         BMW                            iX3       68040
4       Honda                              e       32997

In [ ]:
Brand = df.groupby("Brand")

Brand.describe().head()

        AccelSec                                               TopSpeed_KmH  \
           count      mean       std  min  25%   50%  75%  max        count
Brand
Aiways       1.0  9.000000       NaN  9.0  9.0  9.00  9.0  9.0          1.0
Audi         9.0  5.566667  1.156503  3.5  4.5  5.70  6.3  6.8          9.0
BMW          4.0  6.250000  1.515476  4.0  6.1  6.85  7.0  7.3          4.0
Byton        3.0  6.833333  1.154701  5.5  6.5  7.50  7.5  7.5          3.0
CUPRA        1.0  6.500000       NaN  6.5  6.5  6.50  6.5  6.5          1.0

                ... Seats      PriceEuro                                       \
          mean  ...   75%  max     count          mean           std      min
Brand           ...
Aiways   150.0  ...   5.0  5.0       1.0  36057.000000           NaN  36057.0
Audi     200.0  ...   5.0  5.0       9.0  80593.666667  22003.172072  55000.0
BMW      172.5  ...   5.0  5.0       4.0  53145.750000  15559.130147  38017.0
Byton    190.0  ...   5.0  5.0       3.0  59833.333333   5575.242895  53500.0
CUPRA    160.0  ...   4.0  4.0       1.0  45000.000000           NaN  45000.0


              25%      50%      75%       max
Brand
Aiways   36057.00  36057.0  36057.0   36057.0
Audi     67358.00  79445.0  93800.0  125000.0
BMW      40648.75  53263.0  65760.0   68040.0
Byton    57750.00  62000.0  63000.0   64000.0
CUPRA    45000.00  45000.0  45000.0   45000.0

[5 rows x 48 columns]

In [ ]:
Brand.mean().sort_values(by="PriceEuro",ascending=False).head()

,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,Seats,PriceEuro
Brand,,,,,,
Lightyear,10.000000,150.000000,575.000000,104.000000,5.000000,149000.000000
Porsche,3.500000,254.000000,388.000000,209.400000,4.000000,138265.800000
Lucid,2.800000,250.000000,610.000000,180.000000,5.000000,105000.000000
Audi,5.566667,200.000000,356.666667,224.555556,4.888889,80593.666667
Tesla,4.092308,244.461538,500.769231,201.384615,5.769231,80272.307692

In [ ]:
Model = df.groupby("Model")

Model.describe().head()

                    AccelSec                                   TopSpeed_KmH  \
                       count mean std  min  25%  50%  75%  max        count
Model
2                        1.0  4.7 NaN  4.7  4.7  4.7  4.7  4.7          1.0
3 Crossback E-Tense      1.0  8.7 NaN  8.7  8.7  8.7  8.7  8.7          1.0
500e Convertible         1.0  9.0 NaN  9.0  9.0  9.0  9.0  9.0          1.0
500e Hatchback           1.0  9.0 NaN  9.0  9.0  9.0  9.0  9.0          1.0
Air                      1.0  2.8 NaN  2.8  2.8  2.8  2.8  2.8          1.0

                            ... Seats      PriceEuro                          \
                      mean  ...   75%  max     count      mean std       min
Model                       ...
2                    210.0  ...   5.0  5.0       1.0   56440.0 NaN   56440.0
3 Crossback E-Tense  150.0  ...   5.0  5.0       1.0   37422.0 NaN   37422.0
500e Convertible     150.0  ...   4.0  4.0       1.0   37900.0 NaN   37900.0
500e Hatchback       150.0  ...   4.0  4.0       1.0   34900.0 NaN   34900.0
Air                  250.0  ...   5.0  5.0       1.0  105000.0 NaN  105000.0


                          25%       50%       75%       max
Model
2                     56440.0   56440.0   56440.0   56440.0
3 Crossback E-Tense   37422.0   37422.0   37422.0   37422.0
500e Convertible      37900.0   37900.0   37900.0   37900.0
500e Hatchback        34900.0   34900.0   34900.0   34900.0
Air                  105000.0  105000.0  105000.0  105000.0

[5 rows x 48 columns]

In [ ]:
plt.figure(figsize=(15,10))
Model.size().sort_values(by = "Count",ascending=False).plot.bar()
plt.xticks(rotation=50)
plt.xlabel("Model")
plt.ylabel("Range")
plt.show()

TypeError: ignored

In [ ]:
stopwords=set(STOPWORDS)
stopwords.update(["Honda","BMW", "Tesla", "Audi", "Nissan"])

#Generate a word cloud image
wordcloud=WordCloud(stopwords=stopwords,background_color="white").generate(text)

#Display the generated image:
#the matplotlib way:
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

NameError: ignored

In [ ]:
text=df.[0]

wordcloud=WordCloud().generate(text)

plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

SyntaxError: ignored

In [ ]:
text=" ".join(review for review in df.description)
print("There are {} words in the combination of all reviews.". format(len(text)))

AttributeError: ignored

In [ ]:
Car_demo=np.array(Image.open("/content/199-1991612_nissan-leaf-png-transparent-png.pngyb"))
Car_demo

array([[[247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        ...,
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255]],

       [[247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        ...,
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255]],

       [[247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        ...,
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255]],

       ...,

       [[247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        ...,
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255]],

       [[247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        ...,
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255]],

       [[247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        ...,
        [247, 247, 247, 255],
        [247, 247, 247, 255],
        [247, 247, 247, 255]]], dtype=uint8)

In [ ]:
def transform_format(val):
  if any()==0:
    return 255
  else:
      return val

In [ ]:
transformed_car_demo=np.ndarray((Car_demo.shape[0],Car_demo.shape[1]),np.int32)

for i in range(len(Car_demo)):
  transformed_Car_demo[i]=list(map(transform_format,Car_demo[i]))

TypeError: ignored

In [ ]:
transformed_Car_demo

NameError: ignored

SciKit-Learn for Text Classification

In [ ]:
from sklearn.datasets import fetch_20newsgroups
news=fetch_20newsgroups(subset='all')

print(len(news.data))
print(len(news.target_names))
print(news.target_names)

for text, num_label in zip(news.data[:10],news.target[:10]):
  print('[%s]:\t\t"%s..."'%(news.target_names[num_label],text[:100].split('\n')[0]))

18846
20
['alt.atheism', 'comp.graphics', 'comp.os.ms-windows.misc', 'comp.sys.ibm.pc.hardware', 'comp.sys.mac.hardware', 'comp.windows.x', 'misc.forsale', 'rec.autos', 'rec.motorcycles', 'rec.sport.baseball', 'rec.sport.hockey', 'sci.crypt', 'sci.electronics', 'sci.med', 'sci.space', 'soc.religion.christian', 'talk.politics.guns', 'talk.politics.mideast', 'talk.politics.misc', 'talk.religion.misc']
[rec.sport.hockey]:		"From: Mamatha Devineni Ratnam <mr47+@andrew.cmu.edu>..."
[comp.sys.ibm.pc.hardware]:		"From: mblawson@midway.ecn.uoknor.edu (Matthew B Lawson)..."
[talk.politics.mideast]:		"From: hilmi-er@dsv.su.se (Hilmi Eren)..."
[comp.sys.ibm.pc.hardware]:		"From: guyd@austin.ibm.com (Guy Dawson)..."
[comp.sys.mac.hardware]:		"From: Alexander Samuel McDiarmid <am2o+@andrew.cmu.edu>..."
[sci.electronics]:		"From: tell@cs.unc.edu (Stephen Tell)..."
[comp.sys.mac.hardware]:		"From: lpa8921@tamuts.tamu.edu (Louis Paul Adams)..."
[rec.sport.hockey]:		"From: dchhabra@stpl.ists.ca (Deepak Chhabra)..."
[rec.sport.hockey]:		"From: dchhabra@stpl.ists.ca (Deepak Chhabra)..."
[talk.religion.misc]:		"From: arromdee@jyusenkyou.cs.jhu.edu (Ken Arromdee)..."

In [ ]:
from sklearn.model_selection import train_test_split

def train(classifier, X,y):
  X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.25, random_state=33)
  classifier.fit(X_train, y_train)
  print("Accuracy:%s"%classifier.score(X_test,y_test))
  return classifier

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer

trial1=Pipeline([('vectorizer',TfidfVectorizer()),
                 ('classifier', MultinomialNB()),
])

train(trial1,news.data,news.target)

Accuracy:0.8463497453310697

Pipeline(steps=[('vectorizer', TfidfVectorizer()),
                ('classifier', MultinomialNB())])

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
trial2=Pipeline([
                 ('vectorizer', TfidfVectorizer(stop_words=stopwords.words('english'))),
                 ('classifier', MultinomialNB()),              
                 ])
train(trial2,news.data,news.target)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

Accuracy:0.8777589134125636

Pipeline(steps=[('vectorizer',
                 TfidfVectorizer(stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('classifier', MultinomialNB())])

In [ ]:
trial3=Pipeline([
                 ('vectorizer', TfidfVectorizer(stop_words=stopwords.words('english'))),
                 ('classifier', MultinomialNB(alpha=0.05)),
                 ])

train(trial3,news.data,news.target)

Accuracy:0.9102292020373515

Pipeline(steps=[('vectorizer',
                 TfidfVectorizer(stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('classifier', MultinomialNB(alpha=0.05))])

In [ ]:
trial4=Pipeline([
                ('vectorizer', TfidfVectorizer(stop_words=stopwords.words('english'),
                                               min_df=5)),
                ('classifier', MultinomialNB(alpha=0.05)),                               
                ])
train(trial4,news.data,news.target)

Accuracy:0.9028013582342954

Pipeline(steps=[('vectorizer',
                 TfidfVectorizer(min_df=5,
                                 stop_words=['i', 'me', 'my', 'myself', 'we',
                                             'our', 'ours', 'ourselves', 'you',
                                             "you're", "you've", "you'll",
                                             "you'd", 'your', 'yours',
                                             'yourself', 'yourselves', 'he',
                                             'him', 'his', 'himself', 'she',
                                             "she's", 'her', 'hers', 'herself',
                                             'it', "it's", 'its', 'itself', ...])),
                ('classifier', MultinomialNB(alpha=0.05))])