<a href="https://colab.research.google.com/github/JohnSRX/Machine-Learning-Portfolio/blob/Support-Vector-Machine/SVM_banknote_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics

In [ ]:
mydata=pd.read_csv("/content/UCI_Credit_Card.csv")

In [ ]:
mydata.shape

(30000, 25)

In [ ]:
mydata.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [ ]:
pd.isnull().sum()

TypeError: ignored

In [ ]:
#the x data is saved without 'target' column to make only features dataframe
x=mydata.drop('target',axis=1)

In [ ]:
#the y data is saved only with 'target' column
y=mydata['target']

In [ ]:
#create a model
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=2)

In [ ]:
#kernel specifying
clf=svm.SVC(kernel='linear')

#train and fit the model
clf.fit(x_train,y_train)

SVC(kernel='linear')

In [ ]:
#predict the response
y_pred=clf.predict(x_test)

In [ ]:
#model accuracy
print("Accuracy: ", metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.9890909090909091

In [ ]:
#model precision
print("Precision: ",metrics.precision_score(y_test,y_pred))

#model recall
print("Recall: ", metrics.recall_score(y_test,y_pred))

Precision:  0.9777777777777777
Recall:  1.0